pipeline/uncefact/data/standard/CrossIndustryConsumptionReport_13p1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ====================================================================== -->
<!-- ===== CrossIndustryConsumptionReport Schema Module               ===== -->
<!-- ====================================================================== -->
<!--
Schema agency:  UNCEFACT
Schema version: 13.1
Schema date:    11/10/2018

Copyright (C) UN/CEFACT (2018). All Rights Reserved.

This document and translations of it may be copied and furnished to others, and derivative works that comment on or otherwise explain it or assist in its implementation may be prepared, copied, published and distributed, in whole or in part, without restriction of any kind, provided that the above copyright notice and this paragraph are included on all such copies and derivative works. However, this document itself may not be modified in any way, such as by removing the copyright notice or references to UN/CEFACT, except as needed for the purpose of developing UN/CEFACT specifications, in which case the procedures for copyrights defined in the UN/CEFACT Intellectual Property Rights document must be followed, or as required to translate it into languages other than English.

The limited permissions granted above are perpetual and will not be revoked by UN/CEFACT or its successors or assigns.

This document and the information contained herein is provided on an "AS IS" basis and UN/CEFACT DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT INFRINGE ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:rsm="urn:un:unece:uncefact:data:standard:CrossIndustryConsumptionReport:13" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:2" xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:37" xmlns:qdt="urn:un:unece:uncefact:data:standard:QualifiedDataType:37" xmlns:ram="urn:un:unece:uncefact:data:standard:ReusableAggregateBusinessInformationEntity:37" targetNamespace="urn:un:unece:uncefact:data:standard:CrossIndustryConsumptionReport:13" elementFormDefault="qualified" attributeFormDefault="unqualified" version="13.1">
<!-- ======================================================================= -->
<!-- ===== Imports                                                     ===== -->
<!-- ======================================================================= -->
<!-- ======================================================================= -->
<!-- ===== Import of Unqualified Data Type Schema Module               ===== -->
<!-- ======================================================================= -->
  <xsd:import namespace="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:37" schemaLocation="UnqualifiedDataType_37p0.xsd"/>
<!-- ======================================================================= -->
<!-- ===== Import of Qualified Data Type Schema Module                 ===== -->
<!-- ======================================================================= -->
  <xsd:import namespace="urn:un:unece:uncefact:data:standard:QualifiedDataType:37" schemaLocation="QualifiedDataType_37p0.xsd"/>
<!-- ======================================================================= -->
<!-- ===== Import of Reusable Aggregate Business Information Entity Schema Module ===== -->
<!-- ======================================================================= -->
  <xsd:import namespace="urn:un:unece:uncefact:data:standard:ReusableAggregateBusinessInformationEntity:37" schemaLocation="ReusableAggregateBusinessInformationEntity_37p0.xsd"/>
<!-- ======================================================================= -->
<!-- ===== Element Declarations                                        ===== -->
<!-- ======================================================================= -->
<!-- ===== Root Element Declarations                                   ===== -->
<!-- ======================================================================= -->
  <xsd:element name="CrossIndustryConsumptionReport" type="rsm:CrossIndustryConsumptionReportType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID>CICR</ccts:UniqueID>
        <ccts:Acronym>RSM</ccts:Acronym>
        <ccts:Name>CrossIndustryConsumptionReport</ccts:Name>
        <ccts:Version>1.0</ccts:Version>
        <ccts:Definition>The Cross Industry (CI) consumption report used in the vendor managed inventory process.</ccts:Definition>
        <ccts:BusinessProcessContextValue>Supply Chain</ccts:BusinessProcessContextValue>
        <ccts:GeopoliticalOrRegionContextValue>In All Contexts</ccts:GeopoliticalOrRegionContextValue>
        <ccts:OfficialConstraintContextValue>Cross Industry Trade</ccts:OfficialConstraintContextValue>
        <ccts:ProductContextValue>In All Contexts</ccts:ProductContextValue>
        <ccts:IndustryContextValue>None</ccts:IndustryContextValue>
        <ccts:BusinessProcessRoleContextValue>In All Contexts</ccts:BusinessProcessRoleContextValue>
        <ccts:SupportingRoleContextValue>In All Contexts</ccts:SupportingRoleContextValue>
        <ccts:SystemCapabilitiesContextValue>In All Contexts</ccts:SystemCapabilitiesContextValue>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
<!-- ================================================================== -->
<!-- ===== Type Definitions                                       ===== -->
<!-- ================================================================== -->
<!-- ===== Type Definition: CrossIndustryConsumptionReportType    ===== -->
<!-- ================================================================== -->
  <xsd:complexType name="CrossIndustryConsumptionReportType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID>CICR-2</ccts:UniqueID>
        <ccts:Acronym>MA</ccts:Acronym>
        <ccts:DictionaryEntryName>Cross Industry_ Consumption Report. Details</ccts:DictionaryEntryName>
        <ccts:Version>1.0</ccts:Version>
        <ccts:Definition>The Cross Industry (CI) consumption report used in the vendor managed inventory process.</ccts:Definition>
        <ccts:ObjectClassTerm>Consumption Report</ccts:ObjectClassTerm>
        <ccts:ObjectClassQualifierTerm>Cross Industry</ccts:ObjectClassQualifierTerm>
        <ccts:BusinessProcessContextValue>Supply Chain</ccts:BusinessProcessContextValue>
        <ccts:GeopoliticalOrRegionContextValue>In All Contexts</ccts:GeopoliticalOrRegionContextValue>
        <ccts:OfficialConstraintContextValue>Cross Industry Trade</ccts:OfficialConstraintContextValue>
        <ccts:ProductContextValue>In All Contexts</ccts:ProductContextValue>
        <ccts:IndustryContextValue>None</ccts:IndustryContextValue>
        <ccts:BusinessProcessRoleContextValue>In All Contexts</ccts:BusinessProcessRoleContextValue>
        <ccts:SupportingRoleContextValue>In All Contexts</ccts:SupportingRoleContextValue>
        <ccts:SystemCapabilitiesContextValue>In All Contexts</ccts:SystemCapabilitiesContextValue>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="CIExchangedDocumentContext" type="ram:CIExchangedDocumentContextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            <ccts:UniqueID>UN01005479</ccts:UniqueID>
            <ccts:Acronym>ASMA</ccts:Acronym>
            <ccts:DictionaryEntryName>Cross Industry_ Consumption Report. CI_ Exchanged Document_ Context</ccts:DictionaryEntryName>
            <ccts:Version>1.0</ccts:Version>
            <ccts:Definition>The exchanged document context specified for this CI consumption report.</ccts:Definition>
            <ccts:Cardinality>0..1</ccts:Cardinality>
            <ccts:ObjectClassTerm>Consumption Report</ccts:ObjectClassTerm>
            <ccts:ObjectClassQualifierTerm>Cross Industry</ccts:ObjectClassQualifierTerm>
            <ccts:AssociationType>composition</ccts:AssociationType>
            <ccts:PropertyTerm></ccts:PropertyTerm>
            <ccts:AssociatedObjectClassTerm>Context</ccts:AssociatedObjectClassTerm>
            <ccts:AssociatedObjectClassQualifierTerm>CI</ccts:AssociatedObjectClassQualifierTerm>
            <ccts:AssociatedObjectClassQualifierTerm>Exchanged Document</ccts:AssociatedObjectClassQualifierTerm>
            <ccts:BusinessProcessContextValue>Supply Chain</ccts:BusinessProcessContextValue>
            <ccts:GeopoliticalOrRegionContextValue>In All Contexts</ccts:GeopoliticalOrRegionContextValue>
            <ccts:OfficialConstraintContextValue>Cross Industry Trade</ccts:OfficialConstraintContextValue>
            <ccts:ProductContextValue>In All Contexts</ccts:ProductContextValue>
            <ccts:IndustryContextValue>None</ccts:IndustryContextValue>
            <ccts:BusinessProcessRoleContextValue>In All Contexts</ccts:BusinessProcessRoleContextValue>
            <ccts:SupportingRoleContextValue>In All Contexts</ccts:SupportingRoleContextValue>
            <ccts:SystemCapabilitiesContextValue>In All Contexts</ccts:SystemCapabilitiesContextValue>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CISExchangedDocument" type="ram:CISExchangedDocumentType" minOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            <ccts:UniqueID>UN01008389</ccts:UniqueID>
            <ccts:Acronym>ASMA</ccts:Acronym>
            <ccts:DictionaryEntryName>Cross Industry_ Consumption Report. CIS_ Exchanged_ Document</ccts:DictionaryEntryName>
            <ccts:Version>1.0</ccts:Version>
            <ccts:Definition>The exchanged document of the Cross Industry Scheduling (CIS) specified for this CI consumption report.</ccts:Definition>
            <ccts:Cardinality>1</ccts:Cardinality>
            <ccts:ObjectClassTerm>Consumption Report</ccts:ObjectClassTerm>
            <ccts:ObjectClassQualifierTerm>Cross Industry</ccts:ObjectClassQualifierTerm>
            <ccts:AssociationType>composition</ccts:AssociationType>
            <ccts:PropertyTerm></ccts:PropertyTerm>
            <ccts:AssociatedObjectClassTerm>Document</ccts:AssociatedObjectClassTerm>
            <ccts:AssociatedObjectClassQualifierTerm>CIS</ccts:AssociatedObjectClassQualifierTerm>
            <ccts:AssociatedObjectClassQualifierTerm>Exchanged</ccts:AssociatedObjectClassQualifierTerm>
            <ccts:BusinessProcessContextValue>Scheduling</ccts:BusinessProcessContextValue>
            <ccts:GeopoliticalOrRegionContextValue>In All Contexts</ccts:GeopoliticalOrRegionContextValue>
            <ccts:OfficialConstraintContextValue>Cross Industry Trade</ccts:OfficialConstraintContextValue>
            <ccts:ProductContextValue>In All Contexts</ccts:ProductContextValue>
            <ccts:IndustryContextValue>None</ccts:IndustryContextValue>
            <ccts:BusinessProcessRoleContextValue>In All Contexts</ccts:BusinessProcessRoleContextValue>
            <ccts:SupportingRoleContextValue>In All Contexts</ccts:SupportingRoleContextValue>
            <ccts:SystemCapabilitiesContextValue>In All Contexts</ccts:SystemCapabilitiesContextValue>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CISCRSupplyChainTradeTransaction" type="ram:CISCRSupplyChainTradeTransactionType" minOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            <ccts:UniqueID>UN01012819</ccts:UniqueID>
            <ccts:Acronym>ASMA</ccts:Acronym>
            <ccts:DictionaryEntryName>Cross Industry_ Consumption Report. CISCR_ Supply Chain_ Trade Transaction</ccts:DictionaryEntryName>
            <ccts:Version>1.0</ccts:Version>
            <ccts:Definition>The supply chain trade transaction of the Cross Industry Scheduling Consumption Report (CISCR) specified for this CI consumption report.</ccts:Definition>
            <ccts:Cardinality>1</ccts:Cardinality>
            <ccts:ObjectClassTerm>Consumption Report</ccts:ObjectClassTerm>
            <ccts:ObjectClassQualifierTerm>Cross Industry</ccts:ObjectClassQualifierTerm>
            <ccts:AssociationType>composition</ccts:AssociationType>
            <ccts:PropertyTerm></ccts:PropertyTerm>
            <ccts:AssociatedObjectClassTerm>Trade Transaction</ccts:AssociatedObjectClassTerm>
            <ccts:AssociatedObjectClassQualifierTerm>CISCR</ccts:AssociatedObjectClassQualifierTerm>
            <ccts:AssociatedObjectClassQualifierTerm>Supply Chain</ccts:AssociatedObjectClassQualifierTerm>
            <ccts:BusinessProcessContextValue>Scheduling</ccts:BusinessProcessContextValue>
            <ccts:GeopoliticalOrRegionContextValue>In All Contexts</ccts:GeopoliticalOrRegionContextValue>
            <ccts:OfficialConstraintContextValue>Cross Industry Trade</ccts:OfficialConstraintContextValue>
            <ccts:ProductContextValue>In All Contexts</ccts:ProductContextValue>
            <ccts:IndustryContextValue>None</ccts:IndustryContextValue>
            <ccts:BusinessProcessRoleContextValue>In All Contexts</ccts:BusinessProcessRoleContextValue>
            <ccts:SupportingRoleContextValue>In All Contexts</ccts:SupportingRoleContextValue>
            <ccts:SystemCapabilitiesContextValue>In All Contexts</ccts:SystemCapabilitiesContextValue>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
