pipeline/tests/test_data/logbook/xml_files/flux/business/sales_notes/UnqualifiedDataType_20p0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Trimmed schema UnqualifiedDataType_20p0.xsd - Only for use within FLUXSalesReportMessage_3p1.xsd -->
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:20" version="20.0" xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:20" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="AmountType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:decimal">
        <xsd:attribute name="currencyID" type="xsd:token" use="optional" />
        <xsd:attribute name="currencyCodeListVersionID" type="xsd:token" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="BinaryObjectType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:base64Binary">
        <xsd:attribute name="format" type="xsd:string" use="optional" />
        <xsd:attribute name="mimeCode" type="xsd:token" use="optional" />
        <xsd:attribute name="encodingCode" type="xsd:token" use="optional" />
        <xsd:attribute name="characterSetCode" type="xsd:token" use="optional" />
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional" />
        <xsd:attribute name="filename" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="CodeType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:token">
        <xsd:attribute name="listID" type="xsd:token" use="optional" />
        <xsd:attribute name="listAgencyID" type="xsd:token" use="optional" />
        <xsd:attribute name="listAgencyName" type="xsd:string" use="optional" />
        <xsd:attribute name="listName" type="xsd:string" use="optional" />
        <xsd:attribute name="listVersionID" type="xsd:token" use="optional" />
        <xsd:attribute name="name" type="xsd:string" use="optional" />
        <xsd:attribute name="languageID" type="xsd:token" use="optional" />
        <xsd:attribute name="listURI" type="xsd:anyURI" use="optional" />
        <xsd:attribute name="listSchemeURI" type="xsd:anyURI" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="DateTimeType">
    <xsd:choice>
      <xsd:element name="DateTimeString">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:string">
              <xsd:attribute name="format" type="xsd:string" use="optional" />
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DateTime" type="xsd:dateTime" />
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="IDType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:token">
        <xsd:attribute name="schemeID" type="xsd:token" use="optional" />
        <xsd:attribute name="schemeName" type="xsd:string" use="optional" />
        <xsd:attribute name="schemeAgencyID" type="xsd:token" use="optional" />
        <xsd:attribute name="schemeAgencyName" type="xsd:string" use="optional" />
        <xsd:attribute name="schemeVersionID" type="xsd:token" use="optional" />
        <xsd:attribute name="schemeDataURI" type="xsd:anyURI" use="optional" />
        <xsd:attribute name="schemeURI" type="xsd:anyURI" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="IndicatorType">
    <xsd:choice>
      <xsd:element name="IndicatorString">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:string">
              <xsd:attribute name="format" type="xsd:string" use="optional" />
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Indicator" type="xsd:boolean" />
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="MeasureType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:decimal">
        <xsd:attribute name="unitCode" type="xsd:token" use="optional" />
        <xsd:attribute name="unitCodeListVersionID" type="xsd:token" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="NumericType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:decimal">
        <xsd:attribute name="format" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="QuantityType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:decimal">
        <xsd:attribute name="unitCode" type="xsd:token" use="optional" />
        <xsd:attribute name="unitCodeListID" type="xsd:token" use="optional" />
        <xsd:attribute name="unitCodeListAgencyID" type="xsd:token" use="optional" />
        <xsd:attribute name="unitCodeListAgencyName" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="TextType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="languageID" type="xsd:token" use="optional" />
        <xsd:attribute name="languageLocaleID" type="xsd:token" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>
