pipeline/eu-ers-v3.1/ers-operations-3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by - - - (European Commission - IPSC) -->
<!--W3C Schema generated by XMLSpy v2008 sp1 (http://www.altova.com)-->
<!-- Part of ERS version 3.1 Final 19-09-2011 -->
<xs:schema xmlns:ers="http://ec.europa.eu/fisheries/schema/ers/v3" xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://ec.europa.eu/fisheries/schema/ers/v3" version="3.1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="ers-3.xsd"/>
	<xs:element name="OPS">
		<xs:annotation>
			<xs:documentation>Operations element, this is the top level enveloppe of all operations sent to the webservice function setERS.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element name="DAT" type="ers:DatElementType">
					<xs:annotation>
						<xs:documentation>Data operation to push logbook or sales note information to another MS</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="RET" type="ers:RetElementType">
					<xs:annotation>
						<xs:documentation>Acknowledgment operation to reply to DAT, DEL and COR operation</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DEL" type="ers:DelElementType">
					<xs:annotation>
						<xs:documentation>Delete operation to ask another MS to delete previously sent data</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="COR" type="ers:CorElementType">
					<xs:annotation>
						<xs:documentation>Correction operation to ask another MS to correct previously sent data</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="QUE" type="ers:QueElementType">
					<xs:annotation>
						<xs:documentation>Query operation to pull logbook information from another MS</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="RSP" type="ers:RspElementType">
					<xs:annotation>
						<xs:documentation>Response operation to answer a QUE operation</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:attribute name="AD" type="ers:CountryType" use="required">
				<xs:annotation>
					<xs:documentation>3 letter country code of the destination country</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="FR" type="ers:CountryType" use="required">
				<xs:annotation>
					<xs:documentation>3 letter code of the sending country </xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ON" type="ers:RecordNumberType" use="required">
				<xs:annotation>
					<xs:documentation>Operation number: unique ID aaayyyymmdd99999999 generated by sender</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="OD" type="ers:UtcDateType" use="required">
				<xs:annotation>
					<xs:documentation>Operation date: YYYY-MM-DD the operation was sent</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="OT" type="ers:UtcTimeType" use="required">
				<xs:annotation>
					<xs:documentation>Operation time: HH:MM the operation was sent</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="TS" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Test flag, add this attribute when operation is to be regarded as a test only
2.0-3.0: documentation clarified.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="DatElementType">
		<xs:sequence>
			<xs:element ref="ers:ERS"/>
		</xs:sequence>
		<xs:attribute name="TM" type="ers:DelayedFlagType" use="required">
			<xs:annotation>
				<xs:documentation>Type of message, either Current (CU) or Delayed (DE). Set it to value CU for noemal messages. Set to DE when message was already transmitted using manual procedures not using the IT systems, e.g. in case the IT system was unavailable.
2.0-3.0: added.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="RetElementType">
		<xs:attribute name="ON" type="ers:RecordNumberType" use="required">
			<xs:annotation>
				<xs:documentation>Operation number that is being acknowledged</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RS" type="ers:ReturnStatusType" use="required">
			<xs:annotation>
				<xs:documentation>Return status</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RE" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>If rejected, free text field to give details why rejected.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="DelElementType">
		<xs:attribute name="RN" type="ers:RecordNumberType" use="required">
			<xs:annotation>
				<xs:documentation>Record number to delete (AAAYYYYMMDD999999) </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RE" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Reason for deleting the record</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CorElementType">
		<xs:sequence>
			<xs:element ref="ers:ERS"/>
		</xs:sequence>
		<xs:attribute name="RN" type="ers:RecordNumberType" use="required">
			<xs:annotation>
				<xs:documentation>Record number to correct (AAAYYYYMMDD999999)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RE" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Reason for correction
1.1-2.0: became optional.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="QueElementType">
		<xs:annotation>
			<xs:documentation>Query (Pull) for ERS data
1.1-2.0: changed the way historical vessel queries are made.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="CD" use="required">
			<xs:annotation>
				<xs:documentation>Command to execute
1.1-2.0: removed get_historical_data, which is now a get_vessel_data with SD and ED in the past.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="get_vessel_data"/>
					<xs:enumeration value="get_all_vessels_data"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ID" use="optional">
			<xs:annotation>
				<xs:documentation>Vessel Identifier type. Required if command is get_vessel_data.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="RC"/>
					<xs:enumeration value="IR"/>
					<xs:enumeration value="XR"/>
					<xs:enumeration value="NA"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="IV" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Vessel identifier value. Required if command is get_vessel_data.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SD" type="ers:UtcDateType" use="optional">
			<xs:annotation>
				<xs:documentation>Start date. 
1.1-2.0: debated on making it mandatory.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ED" type="ers:UtcDateType" use="optional">
			<xs:annotation>
				<xs:documentation>End date.
1.1-2.0: debated on making it mandatory.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="RspElementType">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="ers:ERS"/>
		</xs:sequence>
		<xs:attribute name="RS" type="ers:ReturnStatusType" use="required">
			<xs:annotation>
				<xs:documentation>Return status</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ON" type="ers:RecordNumberType" use="required">
			<xs:annotation>
				<xs:documentation>Operation number of the query being replied to.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RE" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>If negative, reason for not replying with data</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RP" type="ers:BooleanType" use="required">
			<xs:annotation>
				<xs:documentation>Response parts. Says whether responses are expressed using different schema definitions or not. As using using different schema definitions in an ERS document is currently unsupported, this flag must always be set to false.
2.0-3.0: added.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
