pipeline/eu-ers-v3.1/ers-3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by - - - (European Commission - IPSC) -->
<!--W3C Schema generated by XMLSpy v2008 sp1 (http://www.altova.com)-->
<!-- Part of ERS version 3.1 Final 19-09-2011 -->
<xs:schema xmlns:ers="http://ec.europa.eu/fisheries/schema/ers/v3" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://ec.europa.eu/fisheries/schema/ers/v3" version="3.1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="ers-codes-3.xsd"/>
	<xs:element name="ERS">
		<xs:annotation>
			<xs:documentation>ERS envelope element, it contains the definition of the logbook and sales note structure.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element name="LOG" type="ers:LogDeclarationType">
					<xs:annotation>
						<xs:documentation>Logbook declaration.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="SAL" type="ers:SalDeclarationType">
					<xs:annotation>
						<xs:documentation>Sales note declaration.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TRN" type="ers:TrnDeclarationType">
					<xs:annotation>
						<xs:documentation>Transport document
1.1-2.0: added.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:attribute name="RN" use="required" type="ers:RecordNumberType">
				<xs:annotation>
					<xs:documentation>Record number used when exchanging with other MS.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="RD" type="ers:UtcDateType" use="required">
				<xs:annotation>
					<xs:documentation>Record date. UTC date of transmission of the message (YYYY-MM-DD in UTC).</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="RT" use="required" type="ers:UtcTimeType">
				<xs:annotation>
					<xs:documentation>Record time. UTC time of transmission of the message (HH:MM:SS in UTC).</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="LogDeclarationType">
		<xs:annotation>
			<xs:documentation>Logbook declaration.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" name="DEP" type="ers:DepDeclarationType">
				<xs:annotation>
					<xs:documentation>Departure from port declaration. Required on every departure from port, to be sent in next message.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FAR" type="ers:FarDeclarationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Fishing Activity Report declaration. Required by midnight on each day at sea or in response to request from the flag state.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="RLC" type="ers:RlcDeclarationType">
				<xs:annotation>
					<xs:documentation>Relocation declaration: Used when catch (all or parts thereof) is transferred or moved from shared fishing gear to a vessel or from a vessel's hold or its fishing gear to a keep net, container or cage (outside the vessel) in which the live catch is kept until landing.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="TRA" type="ers:TraDeclarationType">
				<xs:annotation>
					<xs:documentation>For every transhipment of catch, declaration required from both donor and recipient.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="COE" type="ers:CoeDeclarationType">
				<xs:annotation>
					<xs:documentation>Catch On Entry.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="COX" type="ers:CoxDeclarationType">
				<xs:annotation>
					<xs:documentation>Catch On eXit.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="CRO" type="ers:CroDeclarationType">
				<xs:annotation>
					<xs:documentation>Declaration on crossing the effort zone (no fishing operation). If crossing the zone subject to fishing effort regime.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="TRZ" type="ers:TrzDeclarationType">
				<xs:annotation>
					<xs:documentation>Tag indicating Trans-Zonal fishing when fishing subject to fishing effort regime.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="INS" type="ers:InsDeclarationType">
				<xs:annotation>
					<xs:documentation>Tag indicating start of an inspection sub-declaration. To be provided by the authorities, but not the master.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="DIS" type="ers:DisDeclarationType">
				<xs:annotation>
					<xs:documentation>Discard declaration.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="PNO" type="ers:PnoDeclarationType">
				<xs:annotation>
					<xs:documentation>Tag including the Prior Notification declaration. To be transmitted prior to return to port or if required by Community rules.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="PNT" type="ers:PntDeclarationType">
				<xs:annotation>
					<xs:documentation>Tag including the Prior Notification of transfer declaration. To be used under BFT rules.
2.0-3.0: added.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="EOF" type="ers:EofDeclarationType">
				<xs:annotation>
					<xs:documentation>Tag indicating completion of fishing operations prior to return to port. To be transmitted after last fishing operation and before returning to port.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="RTP" type="ers:RtpDeclarationType">
				<xs:annotation>
					<xs:documentation>Tag indicating the return to the harbour. To be transmitted on entry into port, after any PNO declaration.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="LAN" type="ers:LanDeclarationType">
				<xs:annotation>
					<xs:documentation>Tag with the details of the landing. To be transmitted after landing of catch. LAN can be used in place of transport declaration.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute use="required" name="IR" type="ers:CfrType">
			<xs:annotation>
				<xs:documentation>European Union Fleet Register number (CFR number).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RC" type="ers:RadioCallSignType">
			<xs:annotation>
				<xs:documentation>IRCS.
2.0-3.0: made optional because not all EU vessels have a Radio Call Sign</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="XR" type="ers:HullRegistrationType">
			<xs:annotation>
				<xs:documentation>Vessel's external identification.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="NA" type="xs:string">
			<xs:annotation>
				<xs:documentation>Name of vessel.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute use="required" name="MA" type="xs:string">
			<xs:annotation>
				<xs:documentation>Name of the master (any change during trip to be sent in next LOG transmission).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute use="required" name="MD" type="xs:string">
			<xs:annotation>
				<xs:documentation>Address of master (any change during trip to be sent in next LOG transmission).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute use="required" name="FS" type="ers:CountryType">
			<xs:annotation>
				<xs:documentation>Country of registration.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="IN" type="xs:string">
			<xs:annotation>
				<xs:documentation>Vessel number on ICCAT registry.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="IM" type="xs:string">
			<xs:annotation>
				<xs:documentation>Vessel IMO number.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="DepDeclarationType">
		<xs:annotation>
			<xs:documentation>Departure from port declaration.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GEA" type="ers:GeaDeclarationType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Gear held onboard, providing the detailed specification of the gear.
1.1-2.0: GEA has to occur at least once.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SPE" type="ers:SpeDeclarationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>List of species and quantities held onboard when departing.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="DA" type="ers:UtcDateType" use="required">
			<xs:annotation>
				<xs:documentation>UTC Date or departure.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TI" use="required" type="ers:UtcTimeType">
			<xs:annotation>
				<xs:documentation>UTC time of departure.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PO" type="ers:PortType" use="required">
			<xs:annotation>
				<xs:documentation>Port of departure (code).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AA" type="ers:AnticipatedActivityType">
			<xs:annotation>
				<xs:documentation>Anticipated activity (code).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<!-- <xs:attribute name="GT" type="ers:GearType" use="required">
			<xs:annotation> 
				<xs:documentation>Gear type FAO international Standard Statistical Classification of the Fishing Gear ?? not in proposed annex XV, not in ERS 1.1, to be discussed. 
2.0-3.0: removed.
1.1-2.0: added.</xs:documentation>
			</xs:annotation>
		</xs:attribute> -->
	</xs:complexType>
	<xs:complexType name="GeaDeclarationType">
        <xs:annotation>
        	<xs:documentation>GEA: gear deployment sub-declaration.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
			<xs:element name="GES" type="ers:GesDeclarationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gear shot sub-declaration.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GER" type="ers:GerDeclarationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gear retrieved sub-declaration.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GIL" type="ers:GilDeclarationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gillnet deployment sub-declaration.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="GE" type="ers:GearType" use="required">
			<xs:annotation>
				<xs:documentation>Gear according to FAO International Standard Statistical Classification of the Fishing Gear.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ME" type="xs:integer">
			<xs:annotation>
				<xs:documentation>Mesh size (in millimetres).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="GC" type="xs:string">
			<xs:annotation>
				<xs:documentation>Gear dimensions, textual information ("Gear capacity") as per annex X ("column 3").</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="FO" type="xs:integer">
			<xs:annotation>
				<xs:documentation>Number of fishing operations.
2.0-3.0: made optional again because it is meaningless in the context of a DEP declaration.
1.1-2.0: became compulsory because it was merged with FAR's FO.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DU" type="xs:integer">
			<xs:annotation>
				<xs:documentation>Duration of fishing activity in minutes. - defined as fishing time equals the number of hours spent at sea, minus the time spent in transit to, between and returning from the fishing grounds, dodging, inactive or waiting for repair
2.0-3.0: made optional because it is meaningless in the context of a DEP declaration.
1.1-2.0: used to be the fishing time (nb of hours the gear was deployed if vessel is licensed to fish deep sea), but this was merged with the FAR's DU. Because it merges with the latter, the GEA's DU became compulsory.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="FD" type="xs:integer">
			<xs:annotation>
				<xs:documentation>Fishing depth in metres (distance from surface to lowest part of the gear, if using towed gear, long lines and fixed gear) if deep sea fishing in Norwegian waters.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="NH" type="xs:integer">
			<xs:annotation>
				<xs:documentation>Average nb of hooks on long lines, if deep sea fishing in Norwegian waters.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="GL" type="xs:integer">
			<xs:annotation>
				<xs:documentation>Average length of nets when using fixed nets in metres, if deep sea fishing in Norwegian waters.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="GD" type="xs:integer">
			<xs:annotation>
				<xs:documentation>Average height of nets in metres, when using fixed nets, if deep sea fishing in Norwegian waters.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="QG" type="xs:integer">
			<xs:annotation>
				<xs:documentation>Total quantity of nets on board - notified on departure if carrying Gill nets.
1.1-2.0: added.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TL" type="xs:integer">
			<xs:annotation>
				<xs:documentation>Total length of gear carried onboard - notified on departure if carrying Gill nets.
1.1-2.0: added.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="FarDeclarationType">
		<xs:annotation>
			<xs:documentation>Fishing Activity Report declaration.
2.0-3.0: Allowed more than one PFP subdeclaration.
1.1-2.0: Merged FAR's FO and DU into the GEA subdeclaration. Added PFP. Added ICCAT reporting features.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PFP" type="ers:PfpDeclarationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Pair Fishing Partner sub-declaration, to control pair fishing with one or more partner vessels Specified if there are other vessel(s) in a pair fishing operation. Required to effectively monitor pair fishing. There may be more than one partner vessel. Each participating partner submits a FAR declaration mentioning all the other partners. If pair fishing takes place without relocation, then the vessel taking all the catch will declare the SPE elements, and the other vessels will fill out only the RAS element. If relocation takes place, the RLC declarations shall in addition be submitted.
1.1-2.0: added.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RAS" type="ers:RasDeclarationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>To fill in if no catch was made and no SPE is specified (for effort purposes).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="POS" type="ers:PosDeclarationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Position at noon if no catch was made
2.0-3.0: added.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GEA" type="ers:GeaDeclarationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gear Sub Declaration: Gear used during the fishing operation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GLS" type="ers:GlsDeclarationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gear loss sub-declaration.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SPE" type="ers:SpeDeclarationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Catch for this fishing activity on board of this vessel. (See details of sub-elements and attributes of SPE.) In case of joint fishing operation under BFT rules, fill out the total and allocated SPE under CVT, CVO, and JCI instead.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CVT" type="ers:CvtDeclarationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Catching Vessel Transferring the fish sub-declaration: In case of joint fishing operation under BFT rules, the information on the "catching vessel transferring the fish" has to be reported by every vessel participating in the JFO.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CVO" type="ers:CvoDeclarationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Other Catching Vessel(s) sub-declaration(s): In case of joint fishing operation under BFT rules, the information on every "other catching vessel involved in the JFO" has to be reported by every vessel participating in the JFO.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="JCI" type="ers:JciDeclarationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Catch info sub-declaration: In case of joint fishing operation under BFT rules, the information on the total JFO catch has to be reported by every vessel participating in the JFO.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="LR" type="ers:BooleanType">
			<xs:annotation>
				<xs:documentation>Marker that indicates if this will be the last FAR report being sent, before entering port. (LR=1). Every day that a vessel is at sea, it needs to send a FAR. No further FAR can be sent after a FAR with LR = 1, before entering port.
1.1-2.0: added.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="IS" type="ers:BooleanType">
			<xs:annotation>
				<xs:documentation>Marker that indicates this fishing activity report was received just prior to an inspection carried out onboard the vessel (IS=1). Occurs when the inspector asks the fisherman to update his logbook prior to verification.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DA" type="ers:UtcDateType" use="required">
			<xs:annotation>
				<xs:documentation>UTC Date for which fishing activities being reported whilst vessel at sea.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TI" type="ers:UtcTimeType">
			<xs:annotation>
				<xs:documentation>Start time of fishing activity (HH:MM in UTC).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<!-- <xs:attribute name="FO" type="xs:integer" 
			use="required"> <xs:annotation> <xs:documentation>
2.0-3.0: moved to GeaDeclarationType
1.1-2.0: Became compulsory.</xs:documentation> 
			</xs:annotation> </xs:attribute> <xs:attribute name="DU" type="xs:integer"/> -->
		<xs:attribute name="JF" type="xs:string">
			<xs:annotation>
				<xs:documentation>Optional ICCAT JFO number.
1.1-2.0: added.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="RlcDeclarationType">
		<xs:annotation>
			<xs:documentation>Relocation declaration
2.0-3.0: JTI renamed to BTI
1.1-2.0: Moved IR/TT/TC to REC, moved RF/TF/RC to DON. Added JTI: ICCAT reporting features.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="REC" type="ers:RecDeclarationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Receiving vessel identification: For transfer under BFT rules, fill out BTI instead.
1.1-2.0: Receiving vessel. One of REC or DON must be referring to "this vessel", meaning the one identified in the LOG super-element. Required unless reporting under ICCAT BFT rules.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DON" type="ers:DonDeclarationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Donor Vessel(s): Donor vessel(s) identification. For transfer under BFT rules, fill out BTI instead.
1.1-2.0: Donor vessel(s). One of REC or DON must be referring to "this vessel", meaning the one identified in the LOG super-element. Required unless reporting under ICCAT BFT rules.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="POS" type="ers:PosDeclarationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Location of transfer.
1.1-2.0: Required unless reporting under ICCAT BFT rules.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SPE" type="ers:SpeDeclarationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>List of species and quantities transfered/relocated. Under BFT rules, fill out BTI instead.
1.1-2.0: Required unless reporting under ICCAT BFT rules.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BTI" type="ers:BtiDeclarationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>BFT transfer info sub-declaration. Under BFT rules, fill out the BTI instead of DON, REC, and SPE.
2.0-3.0: renamed from JTI.
1.1-2.0: BFT Joint fishing transfer	information. Required when reporting under ICCAT BFT rules. JTI is filed after CVT/CVO/JCI, by the vessel identified in the CVT ("the main vessel").</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="DA" type="ers:UtcDateType" use="required">
			<xs:annotation>
				<xs:documentation>UTC Date.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TI" type="ers:UtcTimeType">
			<xs:annotation>
				<xs:documentation>UTC Time
1.1-2.0: became optional. Is required under ICCAT reporting.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RT" type="ers:RelocationToType">
			<xs:annotation>
				<xs:documentation>Relocated to (code).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<!-- <xs:complexType name="JtiDeclarationType">
		<xs:annotation>
			<xs:documentation>BFT Joint Fishing Transfer Information
2.0-3.0: Was unused. Now removed. See BTI.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="POS" type="ers:PosDeclarationType" />
			<xs:element name="SPE" type="ers:SpeDeclarationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>List of species and quantities caught during fishing activity.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="NA" use="required">
			<xs:annotation>
				<xs:documentation>Name of the fishing vessel transferring the fish.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="IN" use="required">
			<xs:annotation>
				<xs:documentation>ICCAT number of the fishing vessel transferring the fish.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="IM" type="xs:string">
			<xs:annotation>
				<xs:documentation>IMO ship identification number of the fishing vessel transferring the fish.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="IR">
			<xs:annotation>
				<xs:documentation>Community fleet CFR number.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="12" />
					<xs:pattern value="[A-Z]{3}[a-zA-Z0-9]{9}" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="RC" use="required">
			<xs:annotation>
				<xs:documentation>Radio callsign.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="4" />
					<xs:maxLength value="7" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="TN" use="required">
			<xs:annotation>
				<xs:documentation>Name of the tug or towing vessel.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TI" use="required">
			<xs:annotation>
				<xs:documentation>Tug boat Vessel number on ICCAT vessel register.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DA" type="ers:UtcDateType" use="required">
			<xs:annotation> 
				<xs:documentation>Transfer Date.</xs:documentation>
			</xs:annotation>
		</xs:attribute> 
		<xs:attribute name="TI" type="ers:UtcTimeType" use="required">
			<xs:annotation>
				<xs:documentation>Transfer Time.</xs:documentation>
			</xs:annotation>
		</xs:attribute> 
	</xs:complexType>-->
	<xs:complexType name="TraDeclarationType">
		<xs:annotation>
			<xs:documentation>Transhipment declaration.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RAS" type="ers:RasDeclarationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Area where the transshipment took place (if at sea).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="POS" type="ers:PosDeclarationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specific GPS position of the transhipment (if in NEAFC or NAFO waters or under ICCAT BFT rules).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SPE" type="ers:SpeDeclarationType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>List of species and quantities transshiped.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="DA" type="ers:UtcDateType" use="required">
			<xs:annotation>
				<xs:documentation>Start date of Transhipment.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TI" use="optional" type="ers:UtcTimeType">
			<xs:annotation>
				<xs:documentation>Start Time of Transshipment.</xs:documentation>
			</xs:annotation>

		</xs:attribute>
		<xs:attribute name="PO" type="ers:PortType">
			<xs:annotation>
				<xs:documentation>Port (if transshipment took place in port).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="IR" type="ers:CfrType">
			<xs:annotation>
				<xs:documentation>Receiving vessel CFR number (if community vessel).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TT" use="required" type="ers:RadioCallSignType">
			<xs:annotation>
				<xs:documentation>Receiving vessel radio call sign.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TC" type="ers:CountryType" use="required">
			<xs:annotation>
				<xs:documentation>Receiving vessel flag state.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RF" type="ers:CfrType">
			<xs:annotation>
				<xs:documentation>Donor vessel CFR number (if community vessel)
1.1-2.0: proposal to rename it to DC (Donor CFR) because of ambiguity with RLC/RF.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TF" use="required" type="ers:RadioCallSignType">
			<xs:annotation>
				<xs:documentation>Donor vessel radio call sign. 
1.1-2.0: proposal to rename it to DF (Donor What?) because of ambiguity with RLC/TF.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="FC" type="ers:CountryType" use="required">
			<xs:annotation>
				<xs:documentation>Donor vessel flag state. 
1.1-2.0: proposal to rename it to DS (Donor State) because of ambiguity with RLC/FC.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CoeDeclarationType">
		<xs:annotation>
			<xs:documentation>Catch On Entry: entry in zone effort declaration.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RAS" type="ers:RasDeclarationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Area the vessel is entering.
1.1-2.0: Optional because it is not mandatory in case the COE is part of CRO.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="POS" type="ers:PosDeclarationType">
				<xs:annotation>
					<xs:documentation>Position of entry
2.0-3.0: Made compulsory.
1.1-2.0: added.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SPE" type="ers:SpeDeclarationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>List of species and quantities detained onboard when entering the area.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="DA" type="ers:UtcDateType" use="required">
			<xs:annotation>
				<xs:documentation>UTC Date of entry.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TI" use="required" type="ers:UtcTimeType">
			<xs:annotation>
				<xs:documentation>UTC time of entry.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TS" type="ers:TargetSpeciesType">
			<xs:annotation>
				<xs:documentation>Species to be targeted whilst in zone.
1.1-2.0: made TS optional given that the COE can be part of a CRO declaration.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CoxDeclarationType">
		<xs:annotation>
			<xs:documentation>Catch On eXit: Declaration on exit of the effort zone.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RAS" type="ers:RasDeclarationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Area the vessel is leaving (if no other fishing activity is to be conducted).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="POS" type="ers:PosDeclarationType">
				<xs:annotation>
					<xs:documentation>GPS position of exit.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SPE" type="ers:SpeDeclarationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>List of species and quantities present onboard when exiting the area.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="DA" type="ers:UtcDateType" use="required">
			<xs:annotation>
				<xs:documentation>UTC Date of exit.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TI" use="required" type="ers:UtcTimeType">
			<xs:annotation>
				<xs:documentation>UTC time of exit.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TS" type="ers:TargetSpeciesType">
			<xs:annotation>
				<xs:documentation>Species to be targeted whilst in zone.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CroDeclarationType">
		<xs:annotation>
			<xs:documentation>Crossing of Zone effort declaration.
1.1-2.0: COE and COX became optional because it is acceptable to file either COE or COX.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="COE" type="ers:CoeDeclarationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Catch on entry declaration.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="COX" type="ers:CoxDeclarationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Catch on exit declaration.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TrzDeclarationType">
		<xs:annotation>
			<xs:documentation>Trans-Zonal fishing effort declaration.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="COE" type="ers:CoeDeclarationType">
				<xs:annotation>
					<xs:documentation>Catch on entry declaration.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="COX" type="ers:CoxDeclarationType">
				<xs:annotation>
					<xs:documentation>Catch on exit declaration.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InsDeclarationType">
		<xs:annotation>
			<xs:documentation>Inspection declaration, to be provided by the authorities, not the master. Not the same as 1224/2009 Art 76.</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element name="POS" type="ers:PosDeclarationType">
				<xs:annotation>
					<xs:documentation>Vessel Position
1.1-2.0: Required only if there is no PO port declaration.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="IC" type="ers:CountryType" use="required">
			<xs:annotation>
				<xs:documentation>Country carrying out the inspection, ISO code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="IA" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Inspector assigned.
1.1-2.0: Became an optional text field.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SC" type="ers:CountryType" use="optional">
			<xs:annotation>
				<xs:documentation>ISO alpha-3 country code of the inspector.
2.0-3.0: Added.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DA" type="ers:UtcDateType" use="required">
			<xs:annotation>
				<xs:documentation>UTC Date of inspection.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TI" use="required" type="ers:UtcTimeType">
			<xs:annotation>
				<xs:documentation>UTC time of inspection.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PO" type="ers:PortType">
			<xs:annotation>
				<xs:documentation>Port where inspection conducted. Required if there is no position declaration.
1.1-2.0: added.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="DisDeclarationType">
		<xs:annotation>
			<xs:documentation>Discard declaration: Contains details of fish discarded.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="POS" type="ers:PosDeclarationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Position of discard
1.1-2.0: Was mandatory, became compulsory if required by regulations.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SPE" type="ers:SpeDeclarationType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Discarded fish sub-declaration.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="DA" type="ers:UtcDateType" use="required">
			<xs:annotation>
				<xs:documentation>UTC Date of discard.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TI" use="required" type="ers:UtcTimeType">
			<xs:annotation>
				<xs:documentation>UTC time of discard.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PnoDeclarationType">
		<xs:sequence>
			<xs:element name="RAS" type="ers:RasDeclarationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Relevant area sub-declaration: Fishing area to be used for prior notification of cod. Compulsory for COD in the Baltic sea.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SPE" type="ers:SpeDeclarationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Catch on board (if pelagic need ICES zone).
1.1-2.0: was compulsory, becomes CIF catch on board.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="POS" type="ers:PosDeclarationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Position for entering/leaving area/zone.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="PD" type="ers:UtcDateType" use="required">
			<xs:annotation>
				<xs:documentation>Predicted date of arrival to port: Intended Date of arrival/crossing.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PT" use="required" type="ers:UtcTimeType">
			<xs:annotation>
				<xs:documentation>Predicted time of arrival to port: Intended Time of arrival/crossing.</xs:documentation>
			</xs:annotation>
			</xs:attribute>
		<xs:attribute name="PO" type="ers:PortType" use="required" />
		<xs:attribute name="DA" type="ers:UtcDateType">
			<xs:annotation>
				<xs:documentation>Predicted date of landing: Intended Date of landing (YYYY-MM-DD) in the Baltic for exiting area.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TI" type="ers:UtcTimeType">
			<xs:annotation>
				<xs:documentation>Predicted time of landing: Intended Time of landing (HH:MM in UTC) in the Baltic for exiting area.</xs:documentation>
			</xs:annotation>
			</xs:attribute>
		<xs:attribute name="PC" type="ers:PurposeOfCallType" use="required">
			<xs:annotation>
				<xs:documentation>Purpose of call
1.1-2.0: Purpose of Call, new compulsory field. Codes are LAN for landing, TRA for transhipment, ACS for access to servicing, OTH for other.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DS" type="ers:UtcDateType" use="required">
			<xs:annotation>
				<xs:documentation>UTC Date fishing trip started
1.1-2.0: Date fishing trip started, new compulsory field.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PntDeclarationType">
		<xs:annotation>
			<xs:documentation>Prior Notification of transfer declaration. To be used under BFT rules.
2.0-3.0: Added.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SPE" type="ers:SpeDeclarationType" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Estimated quantity of BFT to be transferred, both specifying quantities alive and taken on board.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="POS" type="ers:PosDeclarationType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Position where the transfer will take place.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="DA" type="ers:UtcDateType" use="required">
			<xs:annotation>
				<xs:documentation>Estimated Date of transfer to cage (YYYY-MM-DD).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TI" type="ers:UtcTimeType" use="required">
			<xs:annotation>
				<xs:documentation>Estimated Time of transfer to cage (HH:MM in UTC).</xs:documentation>
			</xs:annotation>

		</xs:attribute>
		<xs:attribute name="NA" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Name of the tug or towing vessel.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="IN" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>Tug boat vessel number on ICCAT vessel register.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CT" type="xs:integer" use="required">
			<xs:annotation>
				<xs:documentation>Number of cages towed by the tug boat.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="EofDeclarationType">
		<xs:annotation>
			<xs:documentation>End Of Fishing declaration indicating completion of fishing operations prior to return to port.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="DA" type="ers:UtcDateType" use="required">
			<xs:annotation>
				<xs:documentation>End of fishing date.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TI" use="required" type="ers:UtcTimeType">
			<xs:annotation>
				<xs:documentation>End of fishing time.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="RtpDeclarationType">
		<xs:annotation>
			<xs:documentation>Return To Port declaration indicating the return to the harbour. To be transmitted on entry into port, after any PNO declaration.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GEA" type="ers:GeaDeclarationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Gear onboard.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="DA" type="ers:UtcDateType" use="required">
			<xs:annotation>
				<xs:documentation>UTC Date of return.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TI" use="required" type="ers:UtcTimeType">
			<xs:annotation>
				<xs:documentation>UTC time of return.</xs:documentation>
			</xs:annotation>
			</xs:attribute>
		<xs:attribute name="PO" type="ers:PortType" use="required">
			<xs:annotation>
				<xs:documentation>Port Code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RE" type="ers:ReasonReturnType">
			<xs:annotation>
				<xs:documentation>Reason for returning to port.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="LanDeclarationType">
		<xs:annotation>
			<xs:documentation>Landing declaration.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SPE" type="ers:SpeDeclarationType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Catch landed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TRN" type="ers:TrnDeclarationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The transporter can submit a landing declaration in place of the transport declaration, when reporting the quantities transported. By making the TRN a possible sub-element of the LAN, the transporter can fill out the LAN with SPE information, plus the TRN attributes, should he so choose. In that case the TRN's SPE does not need to be filled, as this would be redundant with the LAN's SPE.
2.0-3.0: allowed to have many TRN in a LAN
1.1-2.0: added.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="DA" type="ers:UtcDateType" use="required">
			<xs:annotation>
				<xs:documentation>UTC Date of landing.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TI" type="ers:UtcTimeType">
			<xs:annotation>
				<xs:documentation>UTC time of landing.
1.1-2.0: became optional.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TS" type="ers:SenderType" use="required">
			<xs:annotation>
				<xs:documentation>Sender type (3 letter code).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PO" type="ers:PortType" use="required">
			<xs:annotation>
				<xs:documentation>Port of landing.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PosDeclarationType">
        <xs:annotation>
        	<xs:documentation>Position sub-declaration.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="LT" type="ers:LatitudeType" use="required">
            <xs:annotation>
            	<xs:documentation>Latitude expressed in accordance with the WGS84 format used for VMS.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
		<xs:attribute name="LG" type="ers:LongitudeType" use="required">
            <xs:annotation>
            	<xs:documentation>Longitude expressed in accordance with the WGS84 format used for VMS.</xs:documentation>
            </xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="GesDeclarationType">
		<xs:annotation>
			<xs:documentation>Gear shot sub-declaration.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="POS" type="ers:PosDeclarationType">
				<xs:annotation>
					<xs:documentation>GPS position where gear shot.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="DA" type="ers:UtcDateType" use="required">
			<xs:annotation>
				<xs:documentation>Gear shot date.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TI" use="required" type="ers:UtcTimeType">
			<xs:annotation>
				<xs:documentation>Gear shot time.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="GS" type="ers:GearShotIdentifierType">
            <xs:annotation>
            	<xs:documentation>Gear Shot Identifier: date gear shot operation was completed and day sequence number (MMDDXX) (The daily sequence number shall start with 01 for the first set of gear shot. For example the second set of gear shot on December 20 would be 122002).
2.0-3.0: added.</xs:documentation>
            </xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="GerDeclarationType">
		<xs:annotation>
			<xs:documentation>Gear retrieved sub-declaration.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="POS" type="ers:PosDeclarationType">
				<xs:annotation>
					<xs:documentation>GPS position where gear retrieved.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="DA" type="ers:UtcDateType" use="required">
			<xs:annotation>
				<xs:documentation>UTC Date gear retrieved.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TI" use="required" type="ers:UtcTimeType">
			<xs:annotation>
				<xs:documentation>UTC time gear retrieved.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="GS" type="ers:GearShotIdentifierType">
			<xs:annotation>
				<xs:documentation>Gear Shot Identifier: date gear shot operation was completed and day sequence number (MMDDXX).
2.0-3.0: added.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="GilDeclarationType">
		<xs:annotation>
			<xs:documentation>Gillnet deployment sub-declaration.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="POS" type="ers:PosDeclarationType">
				<xs:annotation>
					<xs:documentation>Position of each fleet deployment.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="NL" type="xs:integer" use="required">
			<xs:annotation>
				<xs:documentation>Nominal length of one net, in metres. Information to be recorded during each fishing trip.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="NN" type="xs:integer" use="required">
			<xs:annotation>
				<xs:documentation>Number of nets in fleet.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="FL" type="xs:integer" use="required">
			<xs:annotation>
				<xs:documentation>Number of fleets deployed.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="FD" type="xs:integer" use="required">
			<xs:annotation>
				<xs:documentation>Depth of fleet deployed, in metres. (a distance from water surface to the lowest part of the fishing gear).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ST" type="xs:integer" use="required">
			<xs:annotation>
				<xs:documentation>Soak time for each fleet deployed (in Hours).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="GS" type="ers:GearShotIdentifierType">
			<xs:annotation>
				<xs:documentation>Gear Shot Identifier. Date gear shot operation was completed and day sequence number (MMDDXX).
2.0-3.0: added.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="GlsDeclarationType">
		<xs:annotation>
			<xs:documentation>Gear Loss sub-declaration. Added TI +MG, made all information compulsory.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
				<xs:element name="POS" type="ers:PosDeclarationType">
					<xs:annotation>
						<xs:documentation>Last known position of gear.
1.1-2.0: became compulsory.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="DA" type="ers:UtcDateType" use="required">
				<xs:annotation>
					<xs:documentation>UTC Date gear lost.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="TI" use="required" type="ers:UtcTimeType">
				<xs:annotation>
					<xs:documentation>UTC time gear was lost.
1.1-2.0: new compulsory attribute.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NN" type="xs:integer" use="required">
				<xs:annotation>
					<xs:documentation>Number of gears lost. 
1.1-2.0: became compulsory.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="MG" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Measure taken to retrieve gear, free text.
1.1-2.0: New compulsive element.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	<xs:complexType name="RasDeclarationType">
		<xs:annotation>
			<xs:documentation>Relevant area depending on the relevant reporting requirement - at least one field should be filled in. If FA is given, SA, ID and SD are expected (except if reporting COD in the Baltic).</xs:documentation>
		</xs:annotation>
		<xs:attribute name="FA" type="ers:FaoAreaType">
			<xs:annotation>
				<xs:documentation>FAO area.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SA" type="ers:FaoSubAreaType">
			<xs:annotation>
				<xs:documentation>FAO sub-area.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ID" type="ers:FaoDivisionType">
			<xs:annotation>
				<xs:documentation>FAO division.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SD" type="ers:FaoSubDivisionType">
			<xs:annotation>
				<xs:documentation>FAO sub-division.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="UI" type="ers:FaoUnitType">
			<xs:annotation>
            	<xs:documentation>FAO unit.
2.0-3.0: added.</xs:documentation>
            </xs:annotation>
		</xs:attribute>
		<xs:attribute name="EZ" type="ers:EconomicZoneType">
			<xs:annotation>
				<xs:documentation>Economic zone.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SR" type="ers:StatisticalRectangleType">
            <xs:annotation>
            	<xs:documentation>Statistical rectangle.</xs:documentation>
            </xs:annotation>
		</xs:attribute>
		<xs:attribute name="FE" type="ers:EffortZoneType" >
			<xs:annotation>
				<xs:documentation>Fishing effort zone.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SpeDeclarationType">
		<xs:annotation>
			<xs:documentation>Species sub-declaration.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SIZ" type="ers:SizDeclarationType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Size composition if fish caught under the normal minimum size.
2.0-3.0: added.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RAS" type="ers:RasDeclarationType">
				<xs:annotation>
					<xs:documentation>Geographical area in which the majority of the catch was taken.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PRO" type="ers:ProDeclarationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Fish processing declaration (if landing, transhipment or sales note).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="SN" type="ers:SpeciesType" use="required">
			<xs:annotation>
				<xs:documentation>Species name (FAO code).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="WT" type="xs:decimal">
			<xs:annotation>
				<xs:documentation>Weight of fish in kg (see context) Depending on context this item to be either 1. Total weight of fish (in kilograms) in catch period 2. Total weight of fish (in kilograms) on board (aggregate) or 3. Total weight of fish (in kilograms) landed 4. Total weight of fish discarded or used as a live bait.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="NF" type="xs:integer">
			<xs:annotation>
				<xs:documentation>Number of fish (when catch have to be registered in numbers of fish i.e. salmon, tuna).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="WL" type="xs:decimal">
			<xs:annotation>
				<xs:documentation>Total weight of fish to be landed or transhipped (in kilograms).
1.1-2.0 added Weight landed.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="FL" type="xs:integer">
			<xs:annotation>
				<xs:documentation>Total number of fish to be landed or transhipped.
2.0-3.0: added.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="NQ" type="xs:decimal">
			<xs:annotation>
				<xs:documentation>Quantity held in nets (Estimate of quantity of live fish held in nets i.e. not in hold).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="NB" type="xs:integer">
			<xs:annotation>
				<xs:documentation>Number held in nets (Estimate of number of live fish held in nets i.e. not in hold).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="GE" type="ers:GearType">
			<xs:annotation>
				<xs:documentation>Gear used for the catch (FAO code).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="MM" type="ers:MeansOfWeightMeasureType">
			<xs:annotation>
				<xs:documentation>Means of weight measuring: estimation (EST),weighing on board (WGH).
2.0-3.0: added.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ProDeclarationType">
		<xs:attribute name="FF" type="ers:FishFreshnessType">
			<xs:annotation>
				<xs:documentation>Fish freshness category ( A, B, E, V, SO).
1.1-2.0: made compulsory if, was compulsory.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PS" type="ers:FishStateType">
			<xs:annotation>
				<xs:documentation>State of preservation.
1.1-2.0: made compulsory if, was compulsory.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PR" type="ers:FishPresentationType" use="required" >
			<xs:annotation>
				<xs:documentation>Presentation of fish (reflects manner of processing.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TY" type="ers:FishPackagingType" >
			<xs:annotation>
				<xs:documentation>Processing's type of packaging.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="NN" type="xs:integer" >
			<xs:annotation>
				<xs:documentation>Number of packing units.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AW" type="xs:decimal" >
			<xs:annotation>
				<xs:documentation>Av weight per unit of packing.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CF" type="xs:decimal" >
			<xs:annotation>
				<xs:documentation>Conversion factor (A numerical factor that is applied to convert fish processed weight into fish live weight).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CvtDeclarationType">
        <xs:annotation>
        	<xs:documentation>Sub-declaration containing the details of the BFT Catching Vessel Transferring the fish caught in a JFO into cages.
1.1-2.0: Added.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
			<xs:element name="SPE" type="ers:SpeDeclarationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Amount of JFO catches counted against the individual quota of this vessel, taking into account the JFO allocation keys.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="NA" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Name of the vessel.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="IN" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>ICCAT number.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="IM" type="xs:string">
			<xs:annotation>
				<xs:documentation>IMO ship identification number.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="IR" type="ers:CfrType">
			<xs:annotation>
				<xs:documentation>Community fleet CFR number.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RC" use="required" type="ers:RadioCallSignType">
			<xs:annotation>
				<xs:documentation>Radio callsign.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CvoDeclarationType">
        <xs:annotation>
        	<xs:documentation>Other Catching Vessel sub-declaration. Sub-declaration containing the details of the Other BFT Catching Vessel(s) involved in a JFO, but not in the transfer of the fish. One CVO sub-declaration per Other Catching Vessel involved in the JFO. By filling out its CVO, the vessel certifies that it has taken no catch on board or transferred into cages.
1.1-2.0: Added.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
			<xs:element name="SPE" type="ers:SpeDeclarationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Amount of JFO catches counted against the individual quota of this vessel, taking into account the JFO allocation keys.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="NA" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Name of the vessel.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="IN" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>ICCAT number.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="IM" type="xs:string">
			<xs:annotation>
				<xs:documentation>IMO ship identification number.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="IR" type="ers:CfrType">
			<xs:annotation>
				<xs:documentation>Community fleet CFR number.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RC" use="required" type="ers:RadioCallSignType">
			<xs:annotation>
				<xs:documentation>Radio callsign.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="JciDeclarationType">
        <xs:annotation>
        	<xs:documentation>JFO Catch sub-declaration: Contains information about the catch and total quantity caught in the JFO operation (according to BFT rules).
1.1-2.0: Added.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
			<xs:element name="POS" type="ers:PosDeclarationType">
				<xs:annotation>
					<xs:documentation>Location of the catch.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SPE" type="ers:SpeDeclarationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Total quantity of BFT caught, both specifying quantities in the cage and taken on board.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="DA" type="ers:UtcDateType" use="required">
			<xs:annotation>
				<xs:documentation>UTC Date of catch.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TI" type="ers:UtcTimeType" use="required">
			<xs:annotation>
				<xs:documentation>UTC time of catch.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="BtiDeclarationType">
        <xs:annotation>
        	<xs:documentation>BFT Transfer Information sub-declaration. Information about the transfer and transfer vessel related to the BFT transfer operation.
2.0-3.0: JTI renamed to BTI</xs:documentation>
        </xs:annotation>
        <xs:sequence>
        	<xs:element name="CVT" type="ers:CvtDeclarationType">
        		<xs:annotation>
        			<xs:documentation>Identification of the Catching Vessel Transferring the fish (Under CVT, SPE does not need to be filled in).</xs:documentation>
        		</xs:annotation>
        	</xs:element>
        	<xs:element name="POS" type="ers:PosDeclarationType">
        		<xs:annotation>
        			<xs:documentation>Transfer position.</xs:documentation>
				</xs:annotation>
			</xs:element>
        	<xs:element name="SPE" type="ers:SpeDeclarationType" minOccurs="0" maxOccurs="unbounded">
        		<xs:annotation>
        			<xs:documentation>Total quantity of BFT transferred into the cage.</xs:documentation>
        		</xs:annotation>
        	</xs:element>
        </xs:sequence>
        <xs:attribute name="NA" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>Name of the tug or towing vessel.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="IN" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>Tug boat vessel number on ICCAT vessel register.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="FN" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>Name of the farm.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="FI" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>ICCAT farm register number.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SizDeclarationType">
	    <xs:annotation>
	    	<xs:documentation>Size composition if fish caught smaller than minimum size
2.0-3.0: added.</xs:documentation>
	    </xs:annotation>
	    <xs:attribute name="S6" use="required" type="xs:decimal">
			<xs:annotation>
				<xs:documentation>Quantity of BFT greater than 6,4kg or 70cm and smaller than 8kg or 75cm.</xs:documentation>
			</xs:annotation>
	    </xs:attribute>
		<xs:attribute name="S8" use="required" type="xs:decimal">
			<xs:annotation>
				<xs:documentation>Quantity of BFT greater than 8kg or 75cm and smaller than 30kg or 115cm.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="RecDeclarationType">
		<xs:annotation>
			<xs:documentation>Receiving vessel identification: For transfer	under BFT rules, fill out BTI instead.
1.1-2.0: Receiving vessel. One of REC or DON must be referring to "this vessel", meaning the one identified in the LOG super-element. Required unless reporting under ICCAT BFT rules.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PFP" type="ers:PfpDeclarationType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DonDeclarationType">
		<xs:annotation>
			<xs:documentation>Donor Vessel(s): Donor vessel(s) identification. For transfer under BFT rules, fill out BTI instead.
1.1-2.0: Donor vessel(s). One of REC or DON must be referring to "this vessel", meaning the one identified in the LOG super-element. Required unless reporting under ICCAT BFT rules.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PFP" type="ers:PfpDeclarationType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PfpDeclarationType">
		<xs:annotation>
			<xs:documentation>Partner vessel(s) in standard pair fishing operations. One of the partner vessel should be "this vessel", meaning the same as in the LOG attributes.
1.1-2.0: added.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="IR" use="optional" type="ers:CfrType">
			<xs:annotation>
				<xs:documentation>Vessel CFR number.</xs:documentation>
			</xs:annotation>
			</xs:attribute>
		<xs:attribute name="RC" use="required" type="ers:RadioCallSignType">
			<xs:annotation>
				<xs:documentation>Vessel radio call sign.</xs:documentation>
			</xs:annotation>
			</xs:attribute>
		<xs:attribute name="XR" use="required" type="ers:HullRegistrationType">
			<xs:annotation>
				<xs:documentation>Vessel side (hull) registration number.</xs:documentation>
			</xs:annotation>
			</xs:attribute>
		<xs:attribute name="FS" type="ers:CountryType" use="required">
			<xs:annotation>
				<xs:documentation>Fllag state of vessel registration (code).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="NA" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Vessel name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="MA" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Name of the master.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SalDeclarationType">
		<xs:annotation>
			<xs:documentation>Sales note record.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SLI" type="ers:SliDeclarationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Sales Line declaration.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TLI" type="ers:TliDeclarationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Take over line declaration.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="IR" use="required" type="ers:CfrType">
			<xs:annotation>
				<xs:documentation>Vessel CFR number.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RC" type="ers:RadioCallSignType">
			<xs:annotation>
				<xs:documentation>Vessel radio call sign.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="XR" use="required" type="ers:HullRegistrationType">
			<xs:annotation>
				<xs:documentation>Vessel side (hull) registration number.
1.1-2.0: became compulsory, as it is needed by the MS' IT systems.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="FS" type="ers:CountryType" use="required">
			<xs:annotation>
				<xs:documentation>Vessel country of registration.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="NA" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Name of vessel.
1.1-2.0: became compulsory.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="NR" type="xs:string">
			<xs:annotation>
				<xs:documentation>An invoice reference number as defined by the Member State
1.1-2.0: added.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ND" type="ers:UtcDateType">
			<xs:annotation>
				<xs:documentation>iNvoice Date.
1.1-2.0: added.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CN" type="xs:string">
			<xs:annotation>
				<xs:documentation>Take-over contract reference number.
1.1-2.0: added.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TR" type="xs:string">
			<xs:annotation>
				<xs:documentation>Transport document reference number, identifying transport document, see TRN.
1.1-2.0: added transport document reference number. The TR is a technical requirement, used in IT systems to match the transport document against the sales note.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SliDeclarationType">
		<xs:annotation>
			<xs:documentation>Sales Line declaration containing details of a consignment sale.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SRC" type="ers:SrcDeclarationType">
				<xs:annotation>
					<xs:documentation>Source document sub-declaration.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CSS" type="ers:CssDeclarationType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Consignment sold sub-declaration.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="DA" type="ers:UtcDateType" use="required">
			<xs:annotation>
				<xs:documentation>UTC Date of sale.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SC" type="ers:CountryType" use="required">
			<xs:annotation>
				<xs:documentation>Country of sale (Country where the sale took place).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SL" type="ers:PortType" use="required">
			<xs:annotation>
				<xs:documentation>Sale location (port code).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="NS" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Name of seller (Name of auction centre, other body or person selling the fish).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="NB" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Name of Buyer (Name of body or person buying the fish).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="VN" type="ers:VatNumberType" use="required">
			<xs:annotation>
				<xs:documentation>Identification number of buyer: VAT Number of buyer (ISO alpha-2 country code followed by maximum 12 characters or digits) or tax identification number or other unique identifier.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CN" type="xs:string">
			<xs:annotation>
				<xs:documentation>Sales contract reference number.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="BC" type="xs:string">
			<xs:annotation>
				<xs:documentation>BCD Number: Reference to Bluefin tuna Catch Document.
2.0-3.0: added.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SrcDeclarationType">
        <xs:annotation>
        	<xs:documentation>Sub-declaration containing details of the source document for the consignment sold . Flag state authorities shall trace back the source document based on the vessel's logbook and landing data.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="DL" type="ers:UtcDateType" use="required">
			<xs:annotation>
				<xs:documentation>UTC Date of landing.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PO" type="ers:PortType" use="required">
			<xs:annotation>
				<xs:documentation>Port of landing.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CssDeclarationType">
        <xs:annotation>
        	<xs:documentation>Consignment Sold sub-declaration.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
			<xs:element name="SPE" type="ers:SpeDeclarationType">
				<xs:annotation>
					<xs:documentation>List of species and quantities sold.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="FP" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation>Fish price (Price per Kg).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TP" type="xs:decimal">
			<xs:annotation>
				<xs:documentation>Total price attribute. To be given if total price cannot be inferred from price per kg.
1.1-2.0: new.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CR" type="ers:CurrencyType" use="required">
			<xs:annotation>
				<xs:documentation>Currency of price of sale.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SF" type="ers:FishSizeType">
			<xs:annotation>
				<xs:documentation>Fish size category (1-8; one size or kg, g, cm, mm or number of fish per kg as appropriate).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PP" type="ers:ProductDestinationType">
			<xs:annotation>
				<xs:documentation>Product destination (purpose).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="WD" type="ers:WithdrawnStateType" use="required">
			<xs:annotation>
				<xs:documentation>Withdrawn through a producer's organisation (Y-yes, N-no, T-temporarily).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="OP" type="ers:ProducerOrganizationUseType">
			<xs:annotation>
				<xs:documentation>P.O. use code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TliDeclarationType">
        <xs:annotation>
        	<xs:documentation>Take-over declaration.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
			<xs:element name="SRC" type="ers:SrcDeclarationType">
				<xs:annotation>
					<xs:documentation>Source sub-declaration.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CST" type="ers:CstDeclarationType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Consignment taken over declaration.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="DA" type="ers:UtcDateType" use="required">
			<xs:annotation>
				<xs:documentation>UTC Date of the take over.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SC" type="ers:CountryType" use="required">
			<xs:annotation>
				<xs:documentation>Take over country (Country where the Take-over took place).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SL" type="ers:PortType" use="required">
			<xs:annotation>
				<xs:documentation>Take over location (UN LOCODE location code (if not in port) where the take-over took place. If in port - EC port code list to be used).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="NT" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Name of take over organisation (Name of the organisation that took-over the fish).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="NF" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Name of storage facility (Name of facilities where the products are stored).
1.1-2.0: New compulsory.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AF" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Address of storage facility (Address of facilities where the products are stored). 
1.1-2.0: New compulsory.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TR" type="xs:string">
			<xs:annotation>
				<xs:documentation>Transport document reference number, identifying transport document, see TRN. Compulsory if applicable.
1.1-2.0: New.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CstDeclarationType">
        <xs:annotation>
        	<xs:documentation>Consignment taken over sub-declaration (containing detail line for each species taken over).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
				<xs:element name="SPE" type="ers:SpeDeclarationType">
					<xs:annotation>
						<xs:documentation>List of species and quantities in consignment.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="SF" type="ers:FishSizeType">
				<xs:annotation>
					<xs:documentation>Fish size category.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TrnDeclarationType">
		<xs:annotation>
			<xs:documentation>Transport Sub-declaration: Transport document may be transmitted electronically before the transport of fish begins.
1.1-2.0: added.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SPE" type="ers:SpeDeclarationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>List of species present in the consignment and caught by the above fishing vessel (also contains RAS and PRO info). Because transport declaration can be replaced by landing declaration, the immediate parent node of this TRN sub-element can be a LAN, instead of being an ERS element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="DC" type="ers:PortType" use="required">
			<xs:annotation>
				<xs:documentation>Destination of consignment (UN LOCODE location code (if not in port) where the fish is transported. If in port - EC port code list to be used).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="LP" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Vehicle identification (license plate): Numeric or alphanumeric code that uniquely identifies the vehicle within the issuing country's database and appears on the car's registration plate.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="XR" use="required" type="ers:HullRegistrationType">
			<xs:annotation>
				<xs:documentation>Vessel side (hull) registration number.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="NA" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Vessel name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PL" type="ers:PortType" use="required">
			<xs:annotation>
				<xs:documentation>Place of loading (UN LOCODE location code (if not in port) where the fish is loaded. If in port - EC port code list to be used*).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DL" type="ers:UtcDateType" use="required">
			<xs:annotation>
				<xs:documentation>UTC Date of loading.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="NC" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Name of consignee (Name of the company that consigned the fish after  transporting).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AC" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Address of the consignee (Address of the company that consigned the fish after transporting).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TR" type="xs:string">
			<xs:annotation>
				<xs:documentation>Transport document reference number, enabling this transport document to be referenced. When given then it must uniquely identify the transport document. The MS sending the TRN is to assign this number.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
